# Default ignored files
/shelf/
/workspace.xml
# Default ignored files

# IntelliJ IDEA
.idea/
*.iml
*.iws
.idea/vcs.xml


# Compiler output
out/
target/
build/

# Maven
log/
*.log
*.tmp
*.bak
*.swp
!*/src/main/**/log/

# Gradle
.gradle/
build/

# Eclipse (if shared)
.classpath
.project
.settings/

# VSCode (if some devs use it)
.vscode/

# Java class files
*.class

# Package Files
*.jar
*.war
*.ear

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.bak
*.swp

